<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Single" parallel="classes">
    <test name="BStackDemo 1" thread-count="3">
        <classes>
            <class name="com.browserstack.example.tests.FirstTest"/>
            <class name="com.browserstack.example.tests.SecondTest"/>
        </classes>
    </test>
</suite>